/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*      _   __   _   _ _   _   _   _         _                        */
/* |   |_| | _  | | | V | | | | / |_/ |_| | /                         */
/* |__ | | |__| |_| |   | |_| | \ |   | | | \_                        */
/*  _  _         _ ___  _       _ ___   _                      / /    */
/* /  | | |\ |  \   |  | / | | /   |   \                      (^^)    */
/* \_ |_| | \| _/   |  | \ |_| \_  |  _/                      (____)o */
/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*
/*--------------------------------------------------------------------*/
/* Copyright 2024, Rebecca Rashkin                                    */
/* -------------------------------                                    */
/* This code may be copied, redistributed, transformed, or built upon
/* in any format for educational, non-commercial purposes.            */
/*
/* Please give me appropriate credit should you choose to use this    */
/* resource. Thank you :)
/*--------------------------------------------------------------------*/
/*
/*____________________________________________________________________*/
/* //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/*/
/*____________________________________________________________________*/
body {
  margin: 0;
  text-align: left;
}


/*____________________________________________________________________*/
table, th, td
{
  height          : 100%;
  width           : 100%;
  margin          : 0;
}

/* Table Header */
th
{
  color: #005f87;
  font-family: 'Trebuchet MS'
  , 'Lucida Sans Unicode'
  , 'Lucida Grande'
  , 'Lucida Sans'
  , Arial, sans-serif;
  font-size: large;
  background-color: #eeeeee;
}

td
{
  font-family : 'Consolas',  monospace;
  font-size: medium;
}

/*____________________________________________________________________*/
/* For tables to fill an entire page
/*____________________________________________________________________*/
/* Whole page:
/* 1056 x 816, 96 DPI
/* Assume margins:
/*    Left: 1 in (96 px)
/*    Top / Bottom / Right: .5 (24 px)
/*____________________________________________________________________*/
.letter-size
{
  height  : 960px;
  width   : 672px;
  border  : 1px solid #d7d7d7;
  padding : 10px;
}

.letter-size td
{
  width   : auto;
  height  : auto;
}

.letter-size td, th
{
  border  : 0px solid #FF8700
}


/*____________________________________________________________________*/
/* Table for page header
/*____________________________________________________________________*/
.page-header
{
  border-bottom: 2px solid #282828;
}

.page-header th
{
  color: #d75faf;
    font-family: 'Trebuchet MS'
  , 'Lucida Sans Unicode'
  , 'Lucida Grande'
  , 'Lucida Sans'
  , Arial, sans-serif;
  font-size: xx-large;
  background-color: #ffffff;
}

.page-header td
{
  font-size: small;
}


/*____________________________________________________________________*/
/* Table for daily time schedule
/*____________________________________________________________________*/
.schedule-table
{
  padding: 20px;
  border-right: 1px solid #cccccc;
}

.schedule-table td
{
  height: 24px;
}


.schedule-table td:nth-child(2)
{
  width: 25px;
  border-bottom: 1px solid #5f0087;
}

/*____________________________________________________________________*/
/* Table for prompt responses
/*____________________________________________________________________*/

.prompt-table
{
  padding: 12px;
  /*border: .25px solid #00af87;*/
}

.prompt-table th
{
  height: auto;
}

.prompt-table td
{
  width         : 100%;
  padding-top   : 24px;
  border-bottom : 1px solid #d75faf;
}

.prompt-table tdd
{
  background-color: #ff0000;
}

prompt
{
  font-size   : small;
  font-style  : italic;
  color       : #d75faf;
}


/*____________________________________________________________________*/
/* Class for 50% columns
/*____________________________________________________________________*/
.two-columns-50 td, th
{
  width: 50%;
}


/*____________________________________________________________________*/
/* Class for 25% columns
/*____________________________________________________________________*/
.four-columns-25 td, th
{
  width: 25%;
}
